.button-sidebar-delete {
    position: absolute;
    right: 50px;
    top: 0;
    line-height: 48px;
}
#controls {
    position: relative;
}
#controls-pane {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 36px;
    padding: 8px;
    background-color: #fff;
}
#controls-pane label {
    display: block;
    margin: 4px 0;
}