<script type="text/template" id="tmpl-yandex-map-modal-content">
    <div class="content" style="padding: 0 15px;">
        <div class="media-frame-title" style="left: 0">
            <h1>Изменить/Добавить Яндекс карту</h1>
        </div>
        <div id="EditYandexMapContainer" class="media-frame-content yandex-map-container" style="left: 0;top: 50px;">
            <div id="EditYandexMapSidebar" class="media-sidebar" style="display: none;"></div>
        </div>
        <div class="media-frame-toolbar" style="left: 0">
            <div class="media-toolbar">
                <div class="media-toolbar-secondary">
                    <div class="media-button-group">
                        <label>
                            <span>Высота карты</span>
                            <input type="" name="" class="button" value="450" style="vertical-align: middle; margin: 0 15px 0 5px">
                        </label>
                        <label>
                            <span>Приближение</span>
                            <input type="" name="" class="button" value="12" style="vertical-align: middle; margin: 0 15px 0 5px">
                        </label>
                    </div>
                </div>
                <div class="media-toolbar-primary search-form">
                    <button type="button" class="button media-button button-primary button-large button-insert-yandex-map">Вставить в страницу</button>
                </div>
            </div>
        </div>
    </div>
</script>